<footer >
    <div id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-3">
                    <h3 class="section-title">ስለ ስርዓቱ ዝርዝር ሀሳብ</h3>
                    <p>RKP የቤት አከራይ እና ተከራይ ስርዓት በባህር ዳር የተለያዩ የቤት ኪራይ ይዘረዝራል። የተመዘገቡ ተጠቃሚዎች ከእኛ ጋር በጥቂት ደቂቃዎች ውስጥ አካውንት ፈጥረው ባለንብረት ለማግኘት መለጠፍ ይችላሉ እና ተጠቃሚዎች እንደፈለጉ ቤት እንዲከራዩ ይረዳቸዋል። 
                        የሚሸጥም ሆነ የሚከራይ ንብረት ሲዘረዝሩ የንብረቶቻችሁን ምስሎች በማስታወቂያዎ ውስጥ (እንደ የቤትዎ የውጪ እና የውስጥ ምስሎች) እንዲያካትቱ አበክረን እንመክራለን። ይህ ሊከራዩ የሚችሉትን ለመከራየት የሚሞክሩትን ለማየት እና ትክክለኛውን ተከራዮች በፍጥነት እንዲያገኙ ያስችልዎታል።</p>
                </div>
                
                <div class="col-md-3">
                    <h3 class="section-title">ኢንፎርሜሽን </h3>
                    <ul>
                        <li><a href="/about_us">ስለ እኛ</a></li>
                        <li><a href="/contact_us">ያግኙን</a></li>
                    </ul>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                    <p>የቅጂ መብቱ 2015 ሁሉም መብቶች የተጠበቁ ናቸው </p>
                </div>
            </div>
        </div>
    </div>
</footer>
