<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <div>
            <%- include('./partials/nav.ejs') %>
            <div class="about-section">
                <p>We are 5th year Software Engineering Student at Bahirdar University</p>
                <p>This awesome Website is developed for semister project</p>
            </div>
            
            <h2 style="text-align:center">Our Team</h2>
            <div class="row">
                <div class="column">
                <div class="card">
                    <img src="/Robel.jpg" class="rounded-circle img-fluid" alt="Robel" height="400" style="width:100%">
                    <div class="container">
                    <h2>Robel Asfaw</h2>
                    <p class="title">Designer and programmer</p>
                    <p><b class="bolder">ID:</b> 1102401</p>
                    <p>robelbethelhem@example.com</p>
                    <p><button class="button">Contact</button></p>
                    </div>
                </div>
                </div>
            
                <div class="column">
                <div class="card">
                    <img src="/Robel2.jpg" class="rounded-circle img-fluid" alt="Kassie" height="400" style="width:100%">
                    <div class="container">
                    <h2>Kassie Liyih</h2>
                    <p class="title">Requirement Analysier</p>
                    <p><b class="bolder">ID:</b> 1101951</p>
                    <p>kassieliyih@example.com</p>
                    <p><button class="button">Contact</button></p>
                    </div>
                </div>
                </div>
            
                <div class="column">
                <div class="card">
                    <img src="/Robel3.jpg" class="rounded-circle img-fluid" alt="Paulos" height="400" style="width:100%">
                    <div class="container">
                    <h2>Paulos Assress</h2>
                    <p class="title">Graphics Designer</p>
                    <p><b class="bolder">ID:</b> 1101883</p>
                    <p>paulosassress@example.com</p>
                    <p><button class="button">Contact</button></p>
                    </div>
                </div>
                </div>
            </div>
            <%- include('./partials/foot.ejs') %>
        </div>
       
    </body>
  </html>