<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/log_in.css">
<body>
    <%- include('./partials/nav.ejs') %>
    <hr>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                              <h3><i class="fa fa-lock fa-4x"></i></h3>
                              <h2 class="text-center">Forgot Password?</h2>
                              <p>You can reset your password here.</p>
                                <div class="panel-body">
                                  
                                  <form class="forgot">
                                      <div class="form-group">
                                        <div class="input-group">
                                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                          <!-- <input type="text" class="location form-control border-primary" id="location"
                                    placeholder="e.g kebele 16, yetebaberut glbach" name="location" > -->
                                          <input id="emailInput" name="emailInput" placeholder="email address" class="form-control" type="email" oninvalid="setCustomValidity('Please enter a valid email address!')" onchange="try{setCustomValidity('')}catch(e){}" required="">
                                        </div>
                                      </div>
                                      <p class="email error"></p>
                                      <div class="form-group">
                                        <input class="btn btn-lg btn-primary btn-block"  type="submit">
                                      </div>
                                  </form>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/foot.ejs') %>
</body>
<script>
    const forgot_form = document.querySelector('form.forgot')
    const emailerror = document.querySelector('.email.error');
    forgot_form.addEventListener('submit',async(e)=>{
        e.preventDefault();
        emailerror.textContent = '';
        // getting value
        const email = forgot_form.emailInput.value;
        const formData = new FormData(forgot_form);
        try{
          const res = await fetch("/forgot_password", { 
        method: 'POST', 
        body: JSON.stringify({email}),
        headers: {'Content-Type': 'application/json'}
        }); 
         const data = await res.json();
        console.log(data);
        if (data.error) {
          emailerror.textContent = data.error;
        }
        }   catch (err) {
        console.log(err);
    }
                 
    })
</script>
</html>